.main{
    padding: 36px;
}

.form{
    display:grid;
    grid-template:40px 40px / 1fr 1fr ;
    gap: 17px;
}
.submit--button{
    grid-column: 1/ -1;
    border-radius: 15px;
    border: 1px;
    box-shadow: 2px 2px black;
    cursor: pointer;
}
.submit--button:hover{
    background-color: white;
    box-shadow: 2px 2px 10px black;
}
.form--input{
    text-indent: 5px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}
.meme--image{
    max-width: 50%;
    /* margin-top: 35px; */
    /* padding-top: 17px; */
    border-radius: 3px;
    /* max-height: 100%; */
    box-shadow: 1px 1px 4px black;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 25%;
}
.meme--text{
    align-items: center;
    justify-content: center;
    display: flex;
}